<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="container">
        <h1>Movie Search</h1>
        <form action="http://localhost:5000/search" method="POST">
            <input id="name" type="text" name="movie_name" placeholder="Enter Movie Name..." required>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>
